@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Open+Sans:wght@300;500&family=Rufina:wght@400;700&display=swap');

:root {
    --dark-text: #333;
    --light-text: #fff;
    --colored-text: rgb(223, 182, 18);
    --dark-background: #282d33;
    --light-background: #f0f0f0; 
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;;
}

header {
    background-color: #000;
    height: 57px;
    color: #9d9d9d;
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 0 30px;
    align-items: center;
    font-size: 18px;
}

header div:last-child {
    display: flex;
}

header div:last-child  p {
    padding: 0px 18px;
}

header div:last-child  p:not(:last-child) {
    border-right: 1px solid #9d9d9d;
}

header span {
    font-size: 1.3em;
}

/* nav styling */
nav {
    height: 70px;
    background-color: rgba(15, 15, 15, 0.85);
    position: sticky;
    top: 0;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    z-index: 3;
    backdrop-filter: blur(5px);
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    padding: 4px 20px;
}

nav a {
    text-decoration: none;
    font-size: inherit;
}

nav a:hover {
    color: var(--colored-text);
}

nav li:nth-child(7) {
    border-right: 1px solid #fff;
}

nav h1 {
    display: none;
}

section.hero {
    height: 700px;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    /* background-image: url("../images/main-slider/3.jpg"); */
    color: white;
    position: relative;
    /* animation: zoom_in 2s ease-in-out; */
}

.hero div {
    position: absolute;
    inset: 0;
    background-image: url("../images/main-slider/3.jpg");
    z-index: -1;
    animation: zoom_in 2s ease-in-out;
}

.hero h1 {
    font-size: 60px;
    transform: translateY(50px);
    animation: fade_in 600ms linear forwards;
    opacity: 0;
}

.hero p {
    font-size: 20px;
    max-width: 600px;
    transform: translateY(50px);
    animation: fade_in 600ms 500ms linear forwards;
    opacity: 0;
}

.hero a {
    transform: translateY(50px);
    animation: fade_in 600ms 700ms linear forwards;
    opacity: 0;
    position: relative;
}

.hero a::after {
    content: "";
    position: absolute;
    inset: 0;
    left: 50px;
    right: 50px;
    background: #fff;
    z-index: -1;
    transition: all 300ms ease;
    opacity: 0;
}

.hero a:hover::after {
    left: 0;
    right: 0;
    opacity: 1;

}

@keyframes zoom_in {
    to{
        transform: scale(1.1);
    }
}

@keyframes fade_in {
    to{
        transform: translateY(0);
        opacity: 1;
}

}

.advert {
    padding: 80px 8%;
}

.advert > h2 {
    font-size: 45px;
    font-weight: 700;
    padding-left: 30px;
    line-height: 1.5;
    position: relative;
}

.advert > h2::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0.2px;
    background: #ffffff3a;
    left: 0;
}

.advert_container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.advert_item {
    width: 370px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
    padding: 10px;
}

.advert_item h3 {
    font-size: 20px;
}

.img_container {
    position: relative;
    height: 217px;
    overflow: hidden;

}

.img_container img {
    transform: scale(1.2);
    transition: transform 700ms ease;
}

.img_container::before {
    content: "";
    position: absolute;
    inset: 50px 70px;
    background-color: var(--colored-text);
    opacity: 0;
    z-index: 2;
    transition: transform 600ms ease, opacity 200ms ease, inset 900ms ease;
    /* transition: inset 800ms ease; */
}

.advert_item:hover .img_container img {
    transform: scale(1);
    
}

.advert_item:hover .img_container::before {
    transform: rotateX(180deg); 
    inset: 30px;
    opacity: 0.7;
}

.services {
    padding: 80px 8%;
    background: var(--light-background);
}

.services h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.advert > p {
    color: #000; 
}

 .services img {
    filter: contrast(30%);
    width: 70px;
} 

.service_item_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.service_item {
    background: #fff;
    padding: 25px;
    display: flex;
    gap: 24px;
    position: relative;
}

.service_item::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 0;
    background: var(--colored-text);
    transition: 500ms;
}

.service_item:hover::before {
    width: 100%;
}

.service_item:hover *{
    color: white;

}

.service_item h3 {
    font-size: 25px;
    font-weight: 700;
}

.service_item p {
    color: #000;
    line-height: 1.5;
}

.service_item div:last-child {
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: relative;
    z-index: 2;
}

.home_design {
    padding: 80px 0;
    display: grid;
    grid-template-columns: 60% 50%;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}

.home_design > div {
    width: 100%;
    height: var(--height);
    /* border: 1px solid white; */
}

.right {
    margin-left: -10%;
    position: relative;
}

.right .poster {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.play_icon {
    width: 100px;
    height: 100px;
    background: var(--colored-text);
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 16px rgb(255, 255, 255, 0.3);
    animation: pulse 3s ease infinite;
}

.play_icon::after,
.play_icon::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
    animation: pulse 3s 0.5s ease infinite;
}

.play_icon::before {
    animation-delay: 1s;
}

@keyframes pulse {
    70% {
        box-shadow: 0 0 0px 40px rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
    
}

.triangle {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: white;
    clip-path: polygon(100% 50%, 25% 0, 25% 100%);
    /* border: 20px solid;
    border-color: transparent transparent transparent white;
    margin-left:  20px; */
}

.left {
    position: relative;
    background: var(--colored-text);
    color: #242424;

}

.left > div {
    height: 80%;
    width: 70%;
    /* border: 1px dashed white; */
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0;
}

.left ul {
    list-style-position: inside;
}
span{
    padding-left: 15px;
}

li {
    margin-bottom: 15px;
}

.left li::marker {
    content: "√";
    /* color: #424242; */
    color: #000;
    font-weight: 900;
    font-size: 20px;
    /* filter: brightness(100%) grayscale(100%); */  
}

.customer {
    padding: 80px 8%;
    background: var(--light-background);

}

.customer_text {
    position: relative;
    text-align: center;
    /* position: relative; */
    /* margin-left: 600px; */
}

.customer_text h2 {
    justify-content: space-between;
    margin-bottom: 5px;
    
}

.customer_text h4 {
    color: #242424;
    font-weight: lighter;
    margin-bottom: 15px;
    /* border-bottom: 6px solid rgba(223, 182, 18, 0.5); */
    border-width: 5px;
    position: relative;
  
    padding-bottom: 15px;
   
}
.customer_text h4::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: var(--colored-text);
    bottom: 0;
    left: 50%;
    border-radius: 3px;
    transform: translateX(-50%);
}

.customer_item_container {
   display: grid;
   grid-template-columns: repeat(2, 400px);
   gap: 20px;
   margin-top: 40px;
   justify-content: center;
}

.customer_item > div:first-child{
    position: relative;
    height: fit-content;
    padding-bottom: 20px;
}

.customer_item > div:first-child::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: var(--dark-background);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: .3;
}

.customer_item img {
    border-radius: 50%;
}

.customer_item {
    background: #fff;
    padding: 25px;
    display: flex;
    gap: 24px;
    position: relative;
    /* max-width: 400px; */
}

.customer_item h3 {
    margin-bottom: 5px;
}

.customer_item p {
    margin-top: 5px;
}

.work_process {
    padding: 80px 8%;
    background: url(../images/background/2.jpg);
    background-attachment: fixed;
    background-size: cover;
    /* margin-bottom: 1000px; */
    position: relative;
    color: white;
}

.work_process .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.work_process > div {
    position: relative;
    z-index: 2;
}

.work_process h2 {
    text-align: center;
    font-size: 40px;
}

.processes {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.process {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.process_circle {
    height: 150px;
    width: 150px;
    background: var(--light-text);
    border-radius: 50%;
    position: relative;
}

.process_circle img {
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
    position: absolute;
    left: 30%;
    bottom: 45%;
    /* z-index: 1; */
}

.process_circle::after {
    content: attr(data-text);
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: inherit;
    color: black;
    font-weight: 700;
    background: var(--colored-text);
    display: grid;
    place-items: center;
    bottom: 15px;
    right: -5px;
    
}

.process:hover .process_circle {
    background-color: var(--colored-text);
}

.process:hover .process_circle::after {
    background: white;
    color: black;
}

/* .process_circle::after {
    background: white;
    color: black;
} */

.process h3 {
    font-size: 22px;
    color: var(--colored-text);
}

.magazine {
    padding: 80px 8%;
    /* margin-bottom: 1000px; */
}

.magazine > h3 {
    font-size: 35px;
    font-weight: 400;
    padding-left: 30px;
    line-height: 1.2;
    position: relative;
}

.magazine > p {
    opacity: .5;
    padding-left: 30px;
    /* border: 1px solid black; */
}

.magazine_container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
    /* padding-left: 30px; */
    
}

.magazine_item {
    width: 370px;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background: var(--light-text);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);    
    /* position: relative;  */
}

.border_line > h4::after {
    content: "";
    position: absolute;
    height: 3%;
    width: 2px;
    left: 35%;
    padding-bottom: 10px;
    background: var(--dark-background);
    opacity: .5;
}

.magazine_img {
    position: relative;
    height: 217px;
    overflow: hidden;
  
}

.magazine_img img {
    transform: scale(1.2);
    transition: transform 700ms ease-in-out;
}

.magazine_img::before {
    content: "";
    position: absolute;
    inset: 30px;
    background-color: var(--dark-background);
    opacity: 0;
    z-index: 2;
    transition: 600ms ease;
}

.magazine_item:hover .magazine_img img {
    transform: scale(1);
    
}

.magazine_item:hover .magazine_img::before {
   /* transform: translateY(180deg); */
    inset: 0px;
    opacity: 0.7;
    cursor: grab;  
}

.magazine_item  a {
    text-decoration: none;
}

.magazine_item  a::after {
    content: "→";
    position: absolute;
    padding-left: 2%;
}

.think_interior {
    padding: 80px 8%;
    background: url(../images/background/1.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 1000px;
    position: relative;
    color: white;
}

.think_interior .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.think_interior > div {
    position: relative;
    z-index: 2;
}

.think_interior h2 {
    padding: 15px;
    font-size: 40px;
    /* border: 1px solid wheat; */
}

.think_interior h2:hover {
    color: var(--colored-text);
}

.think_interior p {
    padding: 15px;  
    margin-bottom: 20px;
}


.think_interior a {
    text-decoration: none;
    border: 1px solid white;
    padding: 10px;
    background-color: #fff;
}

.think_interior a:hover {
    background-color: var(--colored-text);
}






